@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Kaushan+Script&family=Lobster&family=Rouge+Script&family=Tangerine&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.25rem;
    line-height: 1.6rem;
    background: #FAC0BF;
}
img{
    max-width: 100%;
    display: block;
}
header .heading{
    padding-top: 50px;
    font-family: 'Rouge Script', cursive;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
}
.heading:hover{
    cursor: pointer;
    font-size: 60px;
    transition: 0.5s;
}
.person{
    padding-top: 10rem;
    position: relative;
    max-width: 13rem;
    margin-inline: auto;
    transition: 0.5s;
}
.person_container{
    aspect-ratio: 1/1.15;
    display: grid;
    align-items: end;
    border-radius: 0 0 100vw 100vw;
    overflow: hidden;
    transition: transform 200ms ease-in-out;
    position: relative;
}
.person_container:hover{
    transform: scale(1.05);
}
.person_circle{
    position: absolute;
    inset: auto 0 0;
    aspect-ratio: 1;
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
    margin-inline: auto;
}
.person_img{
    position: relative;
    right: 2rem;
    bottom: 2rem;
    z-index: 2;
    transform: scale(1.6);
    transition: 250ms;
}
.person_container:hover .person_img{
    transform: scale(1.9) translateY(-1.02rem);
} 
.main-container{
    display: flex;
    align-items: center;
    transition: 0.4s;
}
/*For Dad's Info*/
.name{
    margin-top: 10px;
    margin-right: 10px;
    width: auto;
    text-align: center;
}
.name li{
    list-style: none;
    width: 100%;
    margin: 5px;
    padding: 10px;
}
.name li label[for="first"]{
    cursor: pointer;
    font-family: 'Rouge Script', cursive;
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
    transition: 0.4s;
}
input[type="checkbox"][id="first"]{
    display: none;
}
.name .content{
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
    font-family: 'Rouge Script', cursive;
    font-size: 22px;
    margin-top: 20px;
}
.name input[type="checkbox"][id="first"]:checked + label[for="first"] + .content{
    max-height:100px;
}
.name input[type="checkbox"][id="first"]:not(:checked) + label[for="first"] + .content{
    max-height:0;
}
/*For Mom's Info*/
.name1{
    margin-top: 10px;
    margin-right: 10px;
    width: auto;
    text-align: center;
}
.name1 li{
    list-style: none;
    width: 100%;
    margin: 5px;
    padding: 10px;
}
.name1 li label[for="second"]{
    cursor: pointer;
    font-family: 'Rouge Script', cursive;
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
    transition: 0.4s;
}
input[type="checkbox"][id="second"] {
    display: none;
}
.name1 .content1{
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
    font-family: 'Rouge Script', cursive;
    font-size: 22px;
    margin-top: 20px;
}
.name1 input[type="checkbox"][id="second"]:checked + label[for="second"] + .content1{
    max-height:100px;
}
.name1 input[type="checkbox"][id="second"]:not(:checked) + label[for="second"] + .content1{
    max-height:0;
}
/*For Sister's Info*/
.name2{
    margin-top: 10px;
    margin-right: 10px;
    width: auto;
    text-align: center;
}
.name2 li{
    list-style: none;
    width: 100%;
    margin: 5px;
    padding: 10px;
}
.name2 li label[for="third"]{
    cursor: pointer;
    font-family: 'Rouge Script', cursive;
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
    transition: 0.4s;
}
input[type="checkbox"][id="third"] {
    display: none;
}
.name2 .content2{
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
    font-family: 'Rouge Script', cursive;
    font-size: 22px;
    margin-top: 20px;
}
.name2 input[type="checkbox"][id="third"]:checked + label[for="third"] + .content2{
    max-height:100px;
}
.name2 input[type="checkbox"][id="third"]:not(:checked) + label[for="third"] + .content2{
    max-height:0;
}
/*For My Info*/
.name3{
    margin-top: 10px;
    margin-right: 10px;
    width: auto;
    text-align: center;
}
.name3 li{
    list-style: none;
    width: 100%;
    margin: 5px;
    padding: 10px;
}
.name3 li label[for="fourth"]{
    cursor: pointer;
    font-family: 'Rouge Script', cursive;
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
    transition: 0.4s;
}
input[type="checkbox"][id="fourth"] {
    display: none;
}
.name3 .content3{
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
    font-family: 'Rouge Script', cursive;
    font-size: 22px;
    margin-top: 20px;
}
.name3 input[type="checkbox"][id="fourth"]:checked + label[for="fourth"] + .content3{
    max-height:100px;
}
.name3 input[type="checkbox"][id="fourth"]:not(:checked) + label[for="fourth"] + .content3{
    max-height:0;
}
.name li label[for="first"]:hover{
    transition: 0.4s;
    font-size: 45px;
}
.name1 li label[for="second"]:hover{
    transition: 0.4s;
    font-size: 45px;
}
.name2 li label[for="third"]:hover{
    transition: 0.4s;
    font-size: 45px;
}
.name3 li label[for="fourth"]:hover{
    transition: 0.4s;
    font-size: 45px;
}
@media only screen and (max-width: 900px){
    body{
        height: auto;
    }
    .person{
        padding-top: 5rem;
        max-width: 10rem;
        margin-bottom: 0px;
    }
    .main-container{
        flex-direction: column;
    }
}