@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Diphylleia&family=Gasoek+One&family=Grandiflora+One&family=Kaushan+Script&family=Lobster&family=Nunito&family=Orbit&family=Quicksand:wght@300&family=Roboto:wght@100&family=Rouge+Script&family=Sulphur+Point:wght@300&family=Tangerine&family=Tilt+Prism&display=swap');
*{
    margin: 0;
    padding: 0;
}
@keyframes Animate{
    from{
        right: 200%;
    }
    to{
        right: 0px;
    }
}
@keyframes AnimateHead{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes AnimateNow{
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.design-top {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    transition: 0.4s;
}
.curved1 {
    height: 200px;
    width: 140px;
    background: #8edcbe;
    border-radius: 88% 12% 49% 51% / 41% 62% 38% 59%  ; 
    margin: 20px;
    transition: 1s;
}
.curved2 {
    height: 200px;
    width: 140px;
    background: #ffffa2;
    border-radius: 69% 31% 80% 20% / 46% 62% 38% 54% ;
    transition: 1s;
}
.curved3 {
    position: sticky;
    margin-top: 10rem;
    height: 300px;
    width: 300px;
    background: #f3bcc2;
    border-radius: 49% 51% 80% 20% / 62% 46% 54% 38% ;
    transition: 1s;
}

.design-bottom {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.curved4 {
    height: 150px;
    width: 140px;
    background: #d4d6d6;
    border-radius: 47% 53% 47% 53% / 47% 46% 54% 53% ;
    margin: 20px;
    transition: 1s;
}
.curved5 {
    height: 150px;
    width: 140px;
    background: #adf3f5;
    border-radius: 88% 12% 46% 54% / 63% 25% 75% 37% ;
    margin: 20px;
    transition: 1s;
}
.heading{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Gasoek One', sans-serif;
    background: #ededed;
    top: 0;
    position: sticky;
    z-index: 100;
    border-bottom: 1px solid #bdbcbc;
    transition: 0.5s;
    animation: AnimateHead 0.5s;
}
.heading ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.heading li{
    display: flex;
    align-items: center;
}
.heading ul li a{
    text-decoration: none;
    color: #000;
    padding: 20px;
    transition: 0.2s;
    text-align: center;
    cursor: pointer;
}
.heading ul li a:hover{
    filter: invert(0.3);
    transition: 0.2s;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
}
.favourites{
    background: url('Images/heart.png');
    height: 30px;
    width: 30px;
    background-size: 100%;
    transition: 0.3s;
    filter: brightness(0.9);
    background-repeat: no-repeat;
    cursor: pointer;
}
.favourites:hover{
    filter: brightness(1.1);
}
.scale{
    transform: scale(1.2);
}

.now-showing{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 20px;
    font-family: 'Gasoek One', sans-serif;
    font-size: 12px;
    gap: 100px;
    transition: 0.5s;
    z-index: 10;
    animation: Animate 1s;
    
    /*right: ; */
}
.nodisplay{ /*For Toggle J.S*/
    display: none;
}
.nowShowingscale{
    animation: Animate 1s;
}
.movie{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    
}
.movie p{
    margin-top: 5px;
    border-bottom: 1px solid #676767;
    padding-bottom: 8px;
}
.movie-name{
    font-size: 13px;
}
.synopsis{
    text-align: justify;
    font-family: 'Orbit', sans-serif;
    font-size: 11px;
    font-weight: 600;
}
.poster{
    height: 300px;
    width: 200px;
    filter: brightness(0.9);
}
.ticket_heart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px;
    width: 100%;
}
.ticket_heart button{
    border: none;
    font-family: 'Diphylleia', serif;
    font-size: 14px;
    
}
.ticket{
    background: #2BC48A;
    border-radius: 5px;
    padding: 5px;
    transition: 0.2s;
    cursor: pointer;
    margin-left: 20px;
}
.ticket:hover{
    background: #3ddda0;
}
.add_favourites{
    background: url('Images/fheart1.png');
    background-size: 100%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: 0.2s;
}
.add_favourites:hover{
    transform: scale(1.2);
}
.add_favourites2{
    background: url('Images/fheart2.png');
    background-size: 100%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.favouriteLists{
    position: relative;
    display: none;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 20px;
    font-family: 'Gasoek One', sans-serif;
    font-size: 12px;
    gap: 100px;
    transition: 0.5s;
    z-index: 10;
    animation: AnimateHead 1s;
}
.favDisplay{ /*For Toggle J.S*/
    display: grid;
}
.favouriteHeading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.favheading{
    top: 0;
    position: sticky;
    background: inherit;
    display: none;
    flex-direction: row;
    width: fit-content;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Gasoek One', sans-serif;
    color: #494848;
    border-bottom: 1px solid #000;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    gap: 100px;
    animation: AnimateHead 0.5s;
    z-index: 20;
}
.favhead1{
    display: flex;
    flex-direction: row;
}

.favTitle{
    cursor: pointer;
    transition: 0.1s;
}
.favTitle2{
    color: #2b2b2b;
    font-size: 20px;
}
.favTitle:hover{
    filter: contrast(2);
}

.favimg{
    height: 20px;
    width: 20px;
}
.favDisplayflex {
    display: flex;
}
.nofavFound{
    display: none;
    font-size: 20px;
    align-items: center;
    text-align: center;
    font-family: 'Gasoek One', sans-serif;
    animation: AnimateHead 0.5s;
}
.nofavdisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.movieCross{
    height: 100px;
    width: 100px;
}

/*Tickets Section*/
.buyTickets{
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    background: #555353;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #796f6f;
    transition: 0.5s;
    animation: Animate 0.6s;
    z-index: 1;
}
.ticketsdisplay{
    display: flex;
}
.ticketstitle{
    display: flex;
    width: 100%;
    justify-content: right;
    height: 0px;
}
.cross{
    height: 25px;
    width: 25px;
    cursor: pointer;
    
}
.cross:hover{
    filter: brightness(1.5);
}
.selectSeat{
    font-size: 30px;
    font-family: 'Gasoek One', sans-serif;
    font-weight: lighter;
    color: #2BC48A;
}
.seats{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    text-align: center;
    gap: 10px;
}
.seat_no{
    height: 30px;
    width: 30px;
    font-size: 14px;
    font-family: 'Quicksand', serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background: #787575;
    color: #fff;
    cursor: pointer;
    transition: 0.1s;
}
.seat_no:hover{
    background: #3ddda0;
    color: #000;
}
.selected{
    background-color: #e3f466;
    color: #000;
}
.selectedred{
    background-color: #AA0000;
    color: #fff;
    pointer-events: none;
}
.selectedred:hover{
    background-color: #AA0000;
    color: #fff;
    cursor: none;
}
.selectedblue{
    background-color: #9AE6FF;
    color: #000000;
    pointer-events: none;
}
.selectedblue:hover{
    background-color: #9AE6FF;
    color: #000000;
    cursor: none;
}
.screen img{
    height: 40px;
    width: 40px;
}
.screenText{
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}
.screenName{
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}
.seatselection{
    display: flex;
    gap: 20px;
}
.seatselection button{
    font-family: 'Quicksand';
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}
.seatselection button:hover{
    filter: brightness(1.2);
}
.buy_button{
    border: none;
    background: #3ddda0;
    height: 30px;
    width: 60px;
    border-radius: 20px;
}
.reserve_button{
    border: none;
    background: rgb(128, 192, 244);
    height: 30px;
    width: 60px;
    border-radius: 20px;
}
.sucessfullyBooked{
    transform: scale(1.2);
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    background: #787575;
    color: #e6e6e6;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px;
    animation: AnimateHead 1s;
    z-index: 16;
    
}
.blur{
    filter: blur(1);
    filter: brightness(0.5);
    opacity: 0.9;
    box-shadow: 80px 80px 80px #796f6f;
}
.display{
    display: flex;
}
.sucessfullyBooked p{
    font-size: 18px;
}
.sucessfulcrosscon{
    display: flex;
    justify-content: end;
    width: 100%;
}
.sucess{
    padding: 10px;
}
.sucessfulcross{
    height: 20px;
    width: 20px;
    transition: 0.2s;
    cursor: pointer;
    transition: 0.2s;
    
}
.sucessfulcross:hover{
    filter: brightness(1.4);
}
.popcorn{
    height: 60px;
    width: 60px;
    padding: 10px;
}
.navnowShowing{
    font-size: 30px;
}
.navcomingSoon:hover{
    transform: scale(1.3);  
}
.reservation:hover{
    transform: scale(1.3);  
}
.navmyTickets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.SoldorReserved{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 350px;
    gap: 30px;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 30px;
    margin-top: 100px;
    font-family: 'Gasoek One', sans-serif;
    background: #555353;
    transition: 0.15s;
    animation: AnimateHead 0.5s;
    z-index: 2;
    transform: scale(1.2);
}
.SoldorReserved button{
    cursor: pointer;
    font-family: 'Gasoek One', sans-serif;
    font-size: 16px;
    transition: 0.2s;
}
.SoldorReserved button:hover{
    color: #d4d3d3;
    transform: scale(1.1);
}
.SoldorReserved p{
    color: #e3f466;
    text-decoration: underline;
    font-size: 20px;
}
.PurchasedTickets{
    border: none;
    background: inherit;
    color: #2BC48A;    
}
.ReservedTickets{
    border: none;
    background: inherit;
    color: #9AE6FF;
}

.myTicket{
    display: none;
    
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    z-index: 1;
    animation: AnimateHead 0.5s ;
    gap: 60px;
    margin: 20px;
}
.divexit{
    display: none;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;
    animation: AnimateHead 1s;
}
.nexit{
    font-family: 'Gasoek One', sans-serif;
    font-size: 16px;
    margin-inline: 5px;
    color: #CF6361;
    cursor: pointer;
    transition: 0.2s;
    border-right: 1px solid #dddddd;
    padding-right: 6px;
}
.nexit:hover{
    filter: invert(1);
}
.exit{
    height: 30px;
    width: 30px;
    align-self: flex-start;
}
.BookedMovie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    gap: 5px;
    border-bottom: 1px solid #000;
    padding: 10px;
}
.BookedName{
    font-family: 'Gasoek One', sans-serif;
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #4c4c4c;
    padding-bottom: 5px;
}
.BookedSeats{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
}
.Showdisplay{
    display: flex;
}
.Showdisplay2{
    display: grid;
}
.myTicketimg{
    height: 300px;
    width: 200px;
    filter: brightness(0.92);
    border-radius: 10px 50px;
}

/*Coming Soon Section */

.comingHeading{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: AnimateHead 0.5s;
}

.comingHead{
    top: 0;
    position: sticky;
    display: flex;
    width: 100%;
    flex-direction: row;
    font-family: 'Gasoek One', sans-serif;
    border-bottom: 1px solid #000;
    padding: 20px;
    margin-bottom: 15px;
    z-index: 20;
    background: inherit;
}
.return{
    height: 30px;
    width: 30px;
    transition: 0.3s;
    cursor: pointer;
}
.return:hover{
    transform: rotate(-360deg);
}
.chead1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.returnTitle{
    transition: 0.2s;
    cursor: pointer;
}
.returnTitle:hover{
    filter: invert(0.3);
}
.comingheadDisplay{
    display: flex;
}
.comingTitle{
    cursor: pointer;
    font-size: 20px;
    color: #000000;
    margin-left: 50px;
}
.comingSoon{
    position: relative;
    display: none;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 20px;
    font-family: 'Gasoek One', sans-serif;
    gap: 100px;
    transition: 0.5s;
    animation: Animate 1s;
}
.comingDisplay{
    display: grid;
}
@media (max-width: 1200px){
    .now-showing{
        grid-template-columns: repeat(3, 1fr);
        gap: 80px;
    }
    .favouriteLists{
        grid-template-columns: repeat(3, 1fr);
        gap: 80px;
    }
    .comingSoon {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 850px){
    .now-showing{
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
    }
    .favouriteLists{
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
    }
    .comingSoon {
        grid-template-columns: repeat(2, 1fr);
    }
    .myTicket{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}
@media (max-width: 600px){
    .now-showing{
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .heading{
        font-size: 14px;
    }
    .favouriteLists{
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .comingSoon{
        grid-template-columns: 1fr;
    }
    .myTicket{
        grid-template-columns: repeat(1, 1fr);
    }
}